$primary:   #7a5ccc !important;
$secondary: #6c757d;
$success:   #28a745;
$info:      #17a2b8;
$warning:   #7A5CCC;
$danger:    #dc3545;
$light:     #d9e1e9;
$dark:      #343a40;
$purple:    #7A5CCC;

$text-black: #343a40;
$text-white: rgba(white, .9);

$rounded-borders: 15px;